.section-book {
   padding: 15rem 0;
   background-image: linear-gradient( to right bottom, $color-primary-light, $color-primary-dark);
}


.book {
   background-image: 
   linear-gradient(
                  105deg, 
                  rgba($color-white, .9)0%,
                  rgba($color-white, .9)50%,
                  transparent 50%, 
                  ),
   url("../../assets/images/nat-10.jpg");
   background-size: 100%;
   border-radius: 0.3rem;
   box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

  

   @include query(tab-land){
      background-image: 
      linear-gradient(
                     105deg, 
                     rgba($color-white, .9)0%,
                     rgba($color-white, .9)65%,
                     transparent 65%, 
                     ),
      url("../../assets/images/nat-10.jpg");
      background-size: cover;

   }

   @include query(tab-port){
      background-image: 
      linear-gradient(
                     to right, 
                     rgba($color-white, .9)0%,
                     rgba($color-white, .9)100%
                     ),
      url("../../assets/images/nat-10.jpg");
   }

   &__form {
      width: 50%;
      padding: 6rem;

      @include query(tab-land){
      width: 65%;

      }
      
      @include query(tab-port){
         width: 100%;
   
         }
   }

}